body {
    font-family: Arial, Helvetica, sans-serif;
}

h1,h2,h3,h4,h5,h6,p {
    margin: 0;
    margin-bottom: 20px;
    font-weight: normal;
}

h1,h2,h3,h4,h5,h6,p {
    color: #34302D;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 20px;
}

.component-footer_background_color__h2_after_first {
    font-size: 18px;
}

/* #component-description_div__h2 has this to create more spacing
in the intro */
p, #component-description_div__h2 {
    line-height: 30px;
}

/* To put anchor tags on seperate lines */
nav a:after {
    content: "";
    display: block;
    height: 0;
    width: 1px;
}

nav {
    line-height: 50px;
}

/* To create overlay effect with drop-down menu */
.component-surrounding_div {
    position: relative;
}

/* To create overlay effect with drop-down menu */
.component-drop_down_menu--variant-modifier,
#component-main_content {
    top: 0;
    left: 0;
}

/* To create overlay effect with drop-down menu */
.component-drop_down_menu--variant-modifier {
    opacity: 0;
    margin: 4% 5% 5% 5%;
    z-index: 10;
    width: 90%;
    position: fixed;
    pointer-events: none;
}

/* display:flex so elements inside div line up side-by-side */
.component-drop_down_menu--variant-modifier,
.component-div_margin__header_div,
#wider_screen_footer_div_flex {
    display: flex;
}

/* To create overlay effect with drop-down menu */
#component-main_content {
    position: absolute;
}

.component-header__left-div__nav > a {
    font-size: 23px;
    border-bottom: none;
}

/* !important to remove previous color styling */
.component-header__left-div__nav_active_a,
.component-div_margin__email_color {
    color: #86C543 !important;
}

/* To create spacing between borders of webpage and spacing inbetween 
seperate divs on the page */
.component-div_margin {
    margin: 5% 5% 120px 5%;
}

.component-div_margin_h2_after_description,
.component-footer_background_color__a {
    color: #E6E6E6;
}

.component-header_green_bar {
    height: 2px;
    background-color: #86C543;
}

.component-header__left-div {
    width: 90%;
}

.component-header__right-div {
    width: 10%;
}

/* Had to decrease margin bottom because of line-height on navs */
#component-div_margin__social_p {
    margin-bottom: 10px;
}

/* padding to create spacing from borders of webpage */
.component-footer_background_color {
    background-color: #34302D;
    padding: 50px 5% 40px 5%;
}

/* border-bottom-color to blend in color before clicking on it.
display: inline-block to create the margin-botton I needed to seperate content */
.component-footer_background_color__email_border_color {
    display: inline-block;
    margin-bottom: 20px;
}

.component-footer_background_color__div {
    margin-bottom: 50px;
}

/* first div in footer needed more margin then the rest */
.component-footer_background_color__first_div {
    margin-bottom: 60px;
    width: 70%;
}

.component-footer_background_color__h2 {
    color: #FFFFFF;
}

/* the headers after the first one in the footer needed more margin */
.component-footer_background_color__h2_after_first {
    margin-bottom: 15px;
}

.component-footer_background_color__p {
    margin-bottom: 0;
}

/* first header did not need as much margin as the rest */
.component-footer_background_color__first_h2_margin {
    margin-bottom: 7px;
}

.component-footer_background_color__nav,
.component-footer_background_color__p {
    line-height: 25px;
}

.component-drop_down_menu_open_animation,
.component-drop_down_menu_close_animation,
.component-drop_down_menu_show_animation,
.component-drop_down_menu_hide_animation {
    animation-fill-mode: forwards;
    animation-duration: .5s; 
}

.component-drop_down_menu_open_animation {
    animation-name: drop_down_menu_open;
}

.component-drop_down_menu_close_animation {
    animation-name: drop_down_menu_close;
}

.component-drop_down_menu_show_animation {
    animation-name: drop_down_menu_show;
    animation-delay: .3s;
}

.component-drop_down_menu_hide_animation {
    animation-name: drop_down_menu_hide;
}

.from_black_to_green_border_animation {
    animation-name: from_black_to_green_border;
    animation-duration: .3s;
    animation-fill-mode: forwards;
}

.green_email_one_border_animation {
    animation-name: green_email_one_border;
    animation-duration: .3s;
    animation-fill-mode: forwards;
}

@keyframes drop_down_menu_show {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes drop_down_menu_hide {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes drop_down_menu_open {
    from {
        opacity: 1;
    }
    to {
        opacity: 0.01;
    }
}

@keyframes drop_down_menu_close {
    from {
        opacity: 0.01;
    }
    to {
        opacity: 1;
    }
}

@keyframes from_black_to_green_border {
    from {
        border-bottom-color: #34302D;
    }
    to {
        border-bottom-color: #86C543;
    }
}

@keyframes green_email_one_border {
    from {
        color: #86C543;
        border-bottom-color: #86C543;
    }
    to {
        color: #6B9E35;
        border-bottom-color: #6B9E35;
    }
}

a {
    transition: color 0.3s;
}

a:hover {
    color: #86C543 !important;
}

.component-footer_background_color__a:hover {
    color: #E6E6E6 !important;
    border-bottom-color: #E6E6E6 !important;
}

#green_email_two:hover {
    border-bottom-color: #86C543 !important;
}

.wider_screen_size_header_navigation_nav {
    float: right;
    line-height: 32px;
}

.wider_screen_size_header_navigation_nav a {
    transition: color 0.3s;
    margin-right: 25px;
}

.wider_screen_size_header_navigation_nav a:hover {
    color: #86C543 !important; 
}

.wider_screen_size_header_navigation {
    display: none;
}

#wider_screen_drop_down_menu_email {
    display: none;
}

#wider_screen_footer_div {
    display: none;
}

#widest_screen_footer_div {
    display: none;
}

@media only screen and (min-width: 480px) {
    .wider_screen_size_header_navigation {
        display: block;
    }
    .open_menu_div {
        display: none;
    }
    .component-header__left-div {
        width: 50%;
    }
    .component-header__right-div {
        width: 50%;
    }
    .projects_link {
        margin-right: 0px !important;
    }
}

@media only screen and (min-width: 768px) {
    .component-header__left-div {
        width: 25%;
    }
    .component-header__right-div {
        width: 75%;
    }    
    .projects_link {
        margin-right: 25px !important;
    }
    #wider_screen_drop_down_menu_email {
        display: inline;
        margin-right: 0px !important;
    }
    #mobile_footer_div {
        display: none;
    }
    .component-footer_background_color__div {
        width: 50%;
    }
    #wider_screen_footer_div {
        display: block;
    }
    .component-footer_background_color__h2_after_first {
        margin-bottom: 35px;
    }
    .component-footer_background_color__first_div {
        width: 60%;
    }
    .component-footer_background_color__nav {
        line-height: 30px;
    }
    .contact_header {
        margin-bottom: 40px;
    }
}

@media only screen and (min-height: 537px) {
    #intro_div {
        margin-bottom: 240px;
    }
}

@media only screen and (min-width: 1000px) {
    #wider_screen_footer_div {
        display: none;
    }
    #widest_screen_footer_div {
        display: flex;
    }
    #wider_screen_footer_div_flex {
        width: 60%;
    }
    .component-footer_background_color__div {
        width: 25%;
    }
    #social_div_width {
        width: 40%;
    }
    .component-footer_background_color__first_div {
        width: 30%;
    }
    .component-div_width {
        width: 60%;
    }
}